* { 
  box-sizing: border-box;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 header{
  background-color: black;
  height: 60px; 
  color: #fff;
  padding: 0 16px;
  display: flex;
  align-items: center;
  width: 100%;
}