* {
    box-sizing: border-box;
  }
  
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header {
    background-color: purple;
    height: 60px; 
    color: #fff;
    padding: 0 16px;
    display: flex;
    align-items: center;
    width: 100%;
  
  }
  
  h1 {
    margin: 0;
    color: purple;
  }
  
  .titulo{ 
    color: #fff;
  }
  
  main {
      display: flex;
      justify-content: center;
      padding: 16px;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      width: 100%;
      max-width: 700%;
      margin-bottom: 32px;
  }
  
  .logo {
    border-radius: 50%;
    background-color:#f4dfd4 ;
    width: 350px;
    border: 5px solid purple;
  }
  
  .descricao {
    width: 100%;
    display: flex;
    border-top: 2px solid #ccc;
    justify-content: space-around;
  }
  
  .descricao div {
    text-align: center;
  }
  
  fotter {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #aaa;
    border-top: 2px solid #aaa;
  }
